/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  background: #f4f4f9;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;       
  top: 0;
  left: 0;
  width: 250px;          
  height: 100vh;         
  background: rgb(3, 3, 111);;   
  color: white;
  overflow-y: auto;      
}

.sidebar {
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}

.sidebar::-webkit-scrollbar {
  display: none;           
}

.logo {
    display: flex;
    flex-direction: row;
}

.sidebar.collapsed {
  width: 80px;
}

/* Profile section */
.sidebar .profile {
  text-align: center;
  padding: 20px;
}

.sidebar .profile img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebar .profile h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #ffcc00; /* Yellow name */
}

.sidebar .profile p {
  font-size: 13px;
  color: #ddd;
}

/* Menu */
.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar .menu li {
  margin: 5px 0;
}

.sidebar .menu li a {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.sidebar .menu li a i {
  margin-right: 15px;
  font-size: 18px;
  min-width: 20px;
  text-align: center;
}

.sidebar .menu li a:hover {
  background: #1a2a7a;
}

.sidebar .menu li a:hover span {
  color: #ffcc00; 
}

/* Collapsed state */
.sidebar.collapsed .logo h4,
.sidebar.collapsed .logo p,
.sidebar.collapsed .profile h3,
.sidebar.collapsed .profile p,
.sidebar.collapsed .menu li a span {
  display: none;
}

.sidebar.collapsed .profile img {
  width: 50px;
  height: 50px;
}

/* ===== Topbar ===== */
.main {
  flex: 1;
  margin-left: 250px;    /* push content aside from sidebar */
  min-height: 100vh;
  background: #f4f4f9;   /* light background */
}

.topbar {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
}

.topbar i {
  font-size: 18px;
  margin-right: 14px;
  cursor: pointer;
}

.topbar h1 {
  font-size: 20px;
}

.topbar img{
    width: 44px;
    float: right; 
    position:absolute; 
    right: 1%;
}

/* ====== Dropdown styles ====== */
.menu .dropdown {
  position: relative;
}

.menu .dropdown .submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  margin: 5px 0;
}

.menu .dropdown .submenu li {
  margin: 5px 0;
}

.menu .dropdown .submenu i {
    font-size: 16px;
}

.menu .dropdown .submenu a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #fff;
}

.menu .dropdown .submenu a:hover {
  background: #1a2a7a;
  border-radius: 5px;
}

.menu .dropdown .submenu a:hover span {
    color: #ffcc00;
}

.menu .dropdown .submenu.open {
  display: block;
}

.menu .dropdown .caret {
  margin-left: auto;
  transition: transform 0.3s;
}

.menu .dropdown .submenu.open ~ .caret {
  transform: rotate(180deg);
}
